<template>
  <app-section title="Components">
    <div class="flx-1 flx-scroll">
      <div class="pad">
        <h2>buttons</h2>
        <div>
          <button class="btn btn-tiny">tiny</button>
          <button class="btn btn-small">small</button>
          <button class="btn">normal</button>
          <button class="btn btn-big">big</button>
          <button class="btn btn-huge">huge</button>
        </div>
      </div>
      <div class="pad">
        <h2>tabs directives</h2>
        <div v-tabs>
          <nav class="flx-h">
            <div class="flx-1" v-tabs-link.literal="main">main</div>
            <div class="flx-1" v-tabs-link.literal="details">details</div>
          </nav>
          <div>
            <div v-tabs-content.literal="main">main</div>
            <div v-tabs-content.literal="details">details</div>
          </div>
        </div>
      </div>
      <div class="pad">
        <h2>resize grid component</h2>
        <resize-grid xs="400" sm="600" md="800">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">001</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">002</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">003</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">004</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">005</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">006</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">007</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">008</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">009</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">010</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">011</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">012</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">013</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">014</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">015</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">016</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">017</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">018</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">019</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">020</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">021</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">022</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">023</div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-3">024</div>
          </div>
        </resize-grid>
      </div>
      <div class="pad">
        <h2>table grid component</h2>
        <table-grid xs="400" sm="700">
          <div slot="thead">
            <div class="row">
              <div class="col-xs-12 col-sm-6 tbl-flx-1">001</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">002</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">003</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">004</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">005</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">006</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">007</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">008</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">009</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">010</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">011</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">012</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">013</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">014</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">015</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">016</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">017</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">018</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">019</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">020</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">021</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">022</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">023</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">024</div>
            </div>
          </div>
          <div slot="tbody">
            <div class="row">
              <div class="col-xs-12 col-sm-6 tbl-flx-1">001</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">002</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">003</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">004</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">005</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">006</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">007</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">008</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">009</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">010</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">011</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">012</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">013</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">014</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">015</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">016</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">017</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">018</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">019</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">020</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">021</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">022</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">023</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">024</div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 tbl-flx-1">001</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">002</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">003</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">004</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">005</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">006</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">007</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">008</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">009</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">010</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">011</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">012</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">013</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">014</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">015</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">016</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">017</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">018</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">019</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">020</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">021</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">022</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">023</div>
              <div class="col-xs-12 col-sm-6 tbl-flx-1">024</div>
            </div>
          </div>
        </table-grid>
      </div>
    </div>
  </app-section>
</template>

<script>
  import AppSection from './layout/AppSection'
  import ResizeGrid from '../components/common/ResizeGrid'
  import TableGrid from '../components/common/TableGrid'
  import {Tabs, TabsLink, TabsContent} from '../components/common/Tabs'

  export default {
    components: {
      AppSection,
      ResizeGrid,
      TableGrid
    },
    directives: {
      Tabs,
      TabsLink,
      TabsContent
    }
  }
</script>

<style></style>