<template>
  <app-section title="Posts">

    <!-- action buttons -->
    <button slot="actions" class="flx-1 btn btn-theme-3" v-sidebar-toggle>Show aside</button>

    <!-- section -->
    <div class="flx-1 flx-scroll pad">
      <table-grid xs="500" sm="900">
        <div slot="thead">
          <div class="row">
            <div class="tbl-flx-1 pad-mini">&nbsp;</div>
            <div class="tbl-flx-2 pad-mini">Title</div>
            <div class="tbl-flx-3 pad-mini">Body</div>
            <div class="tbl-fw tbl-fw-2 pad-mini">&nbsp;</div>
            <div class="tbl-fw tbl-fw-2 pad-mini">&nbsp;</div>
          </div>
        </div>
        <div slot="tbody">
          <div class="row" v-for="item in items">
            <div class="col-xs-hidden col-sm-4 tbl-flx-1 pad-mini">
              <img v-bind="{src: item.img}" alt="">
            </div>
            <div class="col-xs-12 col-sm-8 tbl-flx-2 col-primary pad-mini">{{item.title}}</div>
            <div class="col-xs-12 col-sm-12 tbl-flx-3 pad-mini">{{item.body}}</div>
            <div class="col-xs-6 col-sm-6 tbl-fw tbl-fw-2 pad-mini">
              <button class="btn btn-small btn-block btn-theme-1">
                <i class="fa fa-pencil"></i>
                <span>edit!</span>
              </button>
            </div>
            <div class="col-xs-6 col-sm-6 tbl-fw tbl-fw-2 pad-mini">
              <button class="btn btn-small btn-block btn-theme-3">
                <i class="fa fa-trash"></i>
                <span>delete!</span>
              </button>
            </div>
          </div>
        </div>
      </table-grid>
    </div>

    <!-- footer-->
    <div slot="footer">
      <button class="btn btn-theme-1" v-sidebar-toggle>Show aside</button>
    </div>

  </app-section>
</template>

<script>
  import AppSection from './layout/AppSection'
  import TableGrid from '../components/common/TableGrid'

  export default {
    components: { AppSection, TableGrid },
    data () {
      return {
        items: []
      }
    },
    methods: {
      addImages (obj, i) {
        obj.img = 'http://lorempixel.com/200/200/food/' + (i % 10 + 1)
        return obj
      }
    },
    route: {
      data (transition) {
        return this.$http.get('posts').then((response) => {
          return {
            items: response.data.map((obj, i) => {
              obj.img = 'http://lorempixel.com/200/200/food/' + (i % 10 + 1)
              return obj
            })
          }
        })
      }
    }
  }
</script>

<style scoped>
  img {
    max-width: 100%;
    max-height: 20rem;
  }
</style>
