$air: 1.5rem;

$color-success: #5cb85c;
$color-error: #FF1654;
$color-warning: #f0ad4e;
$color-info: #5bc0de;

$color-light-1: #eee;
$color-light-2: #ccc;
$color-light-3: #aaa;
$color-dark-1: lighten(#19323C, 5%);
$color-dark-2: #19323C;
$color-dark-3: darken(#19323C, 5%);


$theme-colors: (
  'theme-1': #247BA0,
  'theme-1-l1': lighten(#247BA0, 10%),
  'theme-1-l2': lighten(#247BA0, 20%),
  'theme-1-d1': darken(#247BA0, 10%),
  'theme-1-d2': darken(#247BA0, 20%),
  'theme-2': #70C1B3,
  'theme-2-l1': lighten(#70C1B3, 10%),
  'theme-2-l2': lighten(#70C1B3, 20%),
  'theme-2-d1': darken(#70C1B3, 10%),
  'theme-2-d2': darken(#70C1B3, 20%),
  'theme-3': #FF1654,
  'theme-3-l1': lighten(#FF1654, 10%),
  'theme-3-l2': lighten(#FF1654, 20%),
  'theme-3-d1': darken(#FF1654, 10%),
  'theme-3-d2': darken(#FF1654, 20%)
);


$sizes: (
  'small': 0.87,
  'tiny': 0.75,
  'big': 1.2,
  'huge': 1.4
);

$form-control-height: 3.0rem;
$button-height: 3.0rem;