@mixin sizedButton($factor) {
  min-height: $form-control-height * $factor;
  font-size: 0.8em * $factor;
}

button,input[type="button"],input[type="submit"] {
  border: none;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  font-size: 0.8em;
}

.btn {
  border: 1px solid darken($color-light-1, 8%);
  background-color: $color-light-1;
  cursor: pointer;
  margin: 0;
  @include sizedButton(1);
  @each $size, $factor in $sizes {
    &.btn-#{$size} {
      @include sizedButton($factor);
    }
  }
  &[disabled],&:disabled {
    opacity: 0.5;
    cursor: disabled;
    pointer-events: none;
  }
}

.btn-block {
  display: block;
  width: 100%;
}
@each $name, $color in $theme-colors {
  .btn-#{$name} {
    transition: background-color 200ms ease;
    background-color: $color;
    border: 1px solid darken($color, 5%);
    @if lightness($color) < 70% {
      color: white;
    }
    &:hover {
      background-color: darken($color, 10%);
    }
  }
}
