@each $name, $value in $theme-colors {
  .bg-#{$name} {
    background-color: $value;
  }
}

.bg-color-dark {
  background-color: $color-dark-1;
  color: white;
}
.bg-color-light {
  background-color: $color-light-1;
}
