html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.flx-h, .flx-v {
  display: flex;
}

.flx-h {
  flex-direction: row;
}

.flx-v {
  flex-direction: column;
}

@for $i from 1 to 5 {
  .flx-#{$i} {
    position: relative;
    flex: $i;
  }
}

.flx-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flx-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}