.form-group {
  margin-bottom: $air/2;
  label {
    font-weight: bold;
    font-size: 0.95em;
    margin-bottom: 3px;
    display: inline-block;
  }
}
.form-control {
  transition: border 200ms ease;
  box-sizing: border-box;
  font-size: 0.9em;
  outline: 0;
  border-radius: 0;
  box-shadow: 0;
  border: 1px solid #ddd;
  &:focus, &:active {
    outline: 0;
    border: 1px solid #ddd;
  }
  &:focus {
    box-shadow: 0 0 0 2px $color-info;
  }
}

input[type="text"].form-control,
input[type="date"].form-control,
input[type="number"].form-control,
input[type="search"].form-control {
  width: 100%;
  padding-left: $air/2;
  padding-right: $air/2;
  height: $form-control-height;
}
textarea.form-control {
  width: 100%;
  height: 200px;
  padding-left: $air/2;
  padding-right: $air/2;
}
.form-error-message {
  color: $color-error;
}


// VueJS
.form-control.dirty.touched.invalid {
  border: 1px solid $color-error;
}
.form-error-messages-transition {
  transition: all 400ms ease;
  max-height: 4.0rem;
  opacity: 1;
  overflow: hidden;
}
.form-error-messages-enter,
.form-error-messages-leave {
  opacity: 0;
  max-height: 0;
}
