html {
    font-size: 58.5%;
    @media screen and (min-width: 400px) {
        font-size: 62.5%;
    }
    @media screen and (min-width: 700px) {
        font-size: 68.5%;
    }
    @media screen and (min-width: 1000px) {
        font-size: 71.5%;
    }
}
body {
    font-size: 1.6rem;
}
