.pad {
    padding: $air;
}
.pad-mini {
    padding: $air/2;
}
.pad-h {
    padding-left: $air;
    padding-right: $air;
}
.pad-v {
    padding-top: $air;
    padding-bottom: $air;
}
.pad-l {
    padding-left: $air;
}
.pad-r {
    padding-right: $air;
}
.pad-t {
    padding-top: $air;
}
.pad-b {
    padding-bottom: $air;
}
