<template>
  <div class="flx-v flx-full">
    <div class="flx-1 flx-scroll">
      <ul>
        <li v-link-active class="menu-item">
          <a v-link="{name: 'components'}">components</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae, assumenda quibusdam voluptatibus culpa. Tenetur recusandae ullam, veniam suscipit inventore.</p>
        </li>
        <li v-link-active class="menu-item">
          <a v-link="{name: 'posts'}">posts</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquam facere repudiandae ipsam, tenetur error incidunt necessitatibus distinctio, explicabo a!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquam facere repudiandae ipsam, tenetur error incidunt necessitatibus distinctio, explicabo a!</p>
        </li>
        <li v-link-active class="menu-item">
          <a v-link="{name: 'components'}">components</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae, assumenda quibusdam voluptatibus culpa. Tenetur recusandae ullam, veniam suscipit inventore.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae, assumenda quibusdam voluptatibus culpa. Tenetur recusandae ullam, veniam suscipit inventore.</p>
        </li>
        <li v-link-active class="menu-item">
          <a v-link="{name: 'posts'}">posts</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquam facere repudiandae ipsam, tenetur error incidunt necessitatibus distinctio, explicabo a!</p>
        </li>
        <li v-link-active class="menu-item">
          <a v-link="{name: 'components'}">components</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae, assumenda quibusdam voluptatibus culpa. Tenetur recusandae ullam, veniam suscipit inventore.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vitae, assumenda quibusdam voluptatibus culpa. Tenetur recusandae ullam, veniam suscipit inventore.</p>
        </li>
        <li v-link-active class="menu-item">
          <a v-link="{name: 'posts'}">posts</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquam facere repudiandae ipsam, tenetur error incidunt necessitatibus distinctio, explicabo a!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquam facere repudiandae ipsam, tenetur error incidunt necessitatibus distinctio, explicabo a!</p>
        </li>
      </ul>
    </div>
    <div class="flx-h aside-footer">
      <button class="flx-1 bg-theme-1">
        <i class="fa-2x fa fa-comment"></i>
      </button>
      <button class="flx-1 bg-theme-2">
        <i class="fa-2x fa fa-heart"></i>
      </button>
      <button class="flx-1 bg-theme-3">
        <i class="fa-2x fa fa-star"></i>
      </button>
    </div>
  </div>
</template>

<style lang="scss">
  @import '../../style/_constants';

  .aside-footer {
    height: 6.0rem;
    button {
      color: white;
    }
  }
  .v-link-active {
    background-color: map_get($theme-colors, 'theme-2-l2');
  }
  .menu-item {
    text-align: right;
    padding: $air / 2;
    padding-right: $air;
  }
</style>
