<template>
  <div class="bg-theme-1 flx-h main-header">
    <div v-sidebar-toggle class="pad">
      <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="pad flx-1">
      <h2>PiNapppp</h2>
    </div>
  </div>
</template>

<style scoped>
  .main-header {
    color: white;
  }
</style>
