<template>
  <div class="flx-v flx-full" transition="router">
    <header class="flx-h">
      <div class="flx-1" v-if="title!=''">
        <h3>{{title}}</h3>
      </div>
      <div class="flx-h">
        <slot name="actions"></slot>
      </div>
    </header>
    <slot></slot>
    <footer>
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<script>
  export default {
    props: [
      {
        name: 'title',
        type: String,
        default: ''
      },
      {
        name: 'title',
        type: String,
        default: ''
      }
    ]
  }
</script>

<style lang="scss" scoped>
  @import "../../style/_constants.scss";

  header {
    padding: $air/2 $air;
    color: red;
    background-color: #f9f9f9;
  }
  h3 {
    color: map_get($theme-colors, theme-3);
  }
  footer {
    background-color: $color-dark-1;
  }

  .router-transition {
    transition: opacity 400ms ease;
    opacity: 1;
  }
  .router-enter,.router-leave  {
    opacity: 0;
  }
</style>
