<script>
  import ResizeGrid from './ResizeGrid'

  export default {
    props: ['xs', 'sm', 'md', 'lg'],
    components: { ResizeGrid }
  }
</script>

<template>
  <resize-grid :xs="xs" :sm="sm" :md="md" :lg="lg" otherwise="table-mode" class="masonry">
    <div class="row">
      <div class="col-xs-12">aksdhkausdhkasj</div>
    </div>
  </resize-grid>
</template>

<style>
  .masonry {
    color: green;
  }
</style>
