<template>
  <div v-bind:class="['resize-container', sizeClass, isActive ? 'grid-mode' : '']">
    <slot></slot>
  </div>
</template>

<script>
  const props = ['xs', 'sm', 'md', 'lg']
  const INTERVAL = 500

  export default {
    props: props.concat(['otherwise']),
    data () {
      return {
        sizeClass: '',
        isActive: false
      }
    },
    created () {
      this.otherwise = this.otherwise || ''
      props.forEach((prop) => {
        this[prop] = Number(this[prop] || 0)
      })
    },
    ready () {
      this.width = null
      this.interval = setInterval(this.check, INTERVAL)
      this.check()
    },
    methods: {
      check () {
        let currentWidth = this.$el.offsetWidth
        if (this.width !== currentWidth) {
          this.width = currentWidth
          this.setSizeClass()
        }
      },
      setSizeClass () {
        for (let i = 0, n = props.length; i < n; i++) {
          if (this[props[i]] && this.width < this[props[i]]) {
            this.sizeClass = props[i]
            this.isActive = true
            return
          }
        }
        this.sizeClass = this.otherwise
        this.isActive = false
      }
    },
    destroyed () {
      clearInterval(this.interval)
    }
  }
</script>

<style lang="scss">
  @mixin createGridColsClasses($prefix) {
    @for $i from 1 to 13 {
      .#{$prefix}-#{$i} {
          width: (100% / 12 * $i) !important;
      }
      .#{$prefix}-hidden {
          display: none;
      }
    }
  }
  .resize-container {
    &.xs {
      @include createGridColsClasses(col-xs)
    }
    &.sm {
      @include createGridColsClasses(col-sm)
    }
    &.md {
      @include createGridColsClasses(col-md)
    }
    &.lg {
      @include createGridColsClasses(col-lg)
    }
  }
</style>
