<script>
  import ResizeGrid from './ResizeGrid'

  export default {
    props: ['xs', 'sm', 'md', 'lg'],
    components: { ResizeGrid }
  }
</script>

<template>
  <div class="table-grid">
    <resize-grid :xs="xs" :sm="sm" :md="md" :lg="lg" otherwise="table-mode">
      <div class="table-thead">
        <slot name="thead"></slot>
      </div>
      <div class="table-tbody">
        <slot name="tbody"></slot>
      </div>
      <div class="table-tfoot">
        <slot name="tfoot"></slot>
      </div>
    </resize-grid>
  </div>
</template>

<style lang="scss">
  @import "../../style/_constants.scss";

  @mixin bordered ($position) {
    border-#{$position}: 1px solid $color-light-2;
  }
  .table-grid > .grid-mode {
    .table-thead {
      display: none;
    }
    .col-primary {
      font-size: 1.5em;
      color: map_get($theme-colors, theme-1);
    }

    //margin-bottom: $air;
    .row {
      //margin-top: $air;
      //margin-left: $air;
      //margin-right: $air;
      margin-bottom: $air;
      border: 1px solid $color-light-1;
      box-shadow: 1px 2px 5px -1px $color-light-2;
    }
  }
  .table-thead {
    background-color: $color-light-1;
  }
  .table-mode {
    @include bordered(bottom);
    font-size: 0.95em;
    .row > * {
      @include bordered(right);
    }
    .row {
      @include bordered(top);
      @include bordered(left);
    }
    .tbl-hidden {
      display: none;
    }
    .tbl-flx,.tbl-fw {
      flex-grow: 0;
      flex-shrink: 0;
    }
    @for $i from 1 to 5 {
      .tbl-flx-#{$i} {
        flex: $i;
      }
      .tbl-fw-#{$i} {
        flex-basis: $i * $air * 5;
      }
    }
  }
</style>
