<style lang="scss" src="./style/app.scss"></style>

<template>
  <sidebar-layout>
    <app-header slot="header"></app-header>
    <app-aside slot="sidebar-left"></app-aside>
    <app-aside slot="sidebar-right"></app-aside>
    <router-view slot="section"></router-view>
  </sidebar-layout>
</template>

<script>
  import Vue from 'vue'
  import SidebarLayout from './components/layouts/sidebar/Sidebar'
  import SidebarToggleDirective from './components/layouts/sidebar/SidebarToggle'
  import AppHeader from './app/layout/AppHeader'
  import AppAside from './app/layout/AppAside'

  // register sidebar-toggle directive globaly
  Vue.directive('sidebar-toggle', SidebarToggleDirective)

  export default {
    replace: false,
    components: {
      SidebarLayout,
      AppHeader,
      AppAside
    }
  }
</script>
