<template>
  <div class="flx-v flx-full">
    <slot name="header"></slot>
    <div class="flx-1">
      <div class="flx-h flx-full">
        <aside class="sidebar-left-container" v-bind:class="{'active': asideActive}">
          <slot name="sidebar-left"></slot>
        </aside>
        <section class="flx-1">
          <slot name="section"></slot>
        </section>
        <!--
        <aside class="sidebar-right-container" v-bind:class="{'active': asideActive}">
          <slot name="sidebar-right"></slot>
        </aside> -->
        <div class="overlay flx-full"
             transition="overlay"
             v-on.prevent.stop:click
             v-show="asideActive"
             @mouseup="toggleAside(false)"
             @touchstart="toggleAside(false)">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        asideActive: false
      }
    },
    events: {
      'toggle-sidebar' (state) {
        this.toggleAside(state)
      }
    },
    methods: {
      toggleAside (state) {
        this.asideActive = state != null ? state : !this.asideActive
        this.$broadcast('toggle-sidebar', this.asideActive)
      }
    },
    watch: {
      '$route' () {
        this.toggleAside(false)
      }
    }
  }
</script>

<style lang="scss">
  @import "../../../style/_constants.scss";
  @import "./Sidebar.config.scss";


  @mixin sidebar($position: left) {
    width: $aside-width;
    position: relative;
    background-color: $color-light-1;
    transition: all $animation-time ease;
    @media screen and (max-width: $aside-break) {
      position: absolute;
      top: 0;
      @if $position is left {
        left: 0;
      } @else {
        right: 0;
      }
      height: 100%;
      z-index: 2;
      @if $position is left {
        transform: translate3d(-$aside-width + 1px,0,0);
      } @else {
        transform: translate3d($aside-width + -1px,0,0);
      }
      &.active {
        transform: translate3d(0,0,0);
      }
    }
  }

  .sidebar-left-container {
    @include sidebar(left)
  }

  //.sidebar-right-container {
  //  @include sidebar(right)
  //}

  @media screen and (min-width: $aside-break + 1) {
    .overlay {
      display: none !important;
    }
  }

  .overlay-transition {
    transition: opacity $animation-time ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #222;
    opacity: 0.5;
    z-index: 1;
  }
  .overlay-enter, .overlay-leave {
    opacity: 0;
  }

</style>
