@import "./Sidebar.config.scss";

.app-sidebar-toggle {
  cursor: pointer;
  .sidebar-active {
    color: red;
  }
  @media screen and (min-width: $aside-break + 1) {
    display: none !important;
  }
}



